@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');

:root {
  --primary-bg: rgb(243, 243, 243);
  --border: lightgray;
  --after-before: #a8a8b3;
  --container: #FFF;
  --text: black;
}

body.active {
  --primary-bg: #09090A;
  --border: #323238;
  --after-before: #323238;
  --container: #121214;
  --input-bg: #121214;
  --text: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-bg);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.instagram-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.instagram-phone img {
  margin-top: 25px;
  height: 43rem;

}

.instagram-logo {
  width: 60%;
}

.instagram-login-facebook {
  display: flex;
  align-items: center;
  gap: 8px;
}

.instagram-login-facebook a{ 
  color: #385185;
  font-weight: 500;
}

.instagram-login-facebook img{ 
  width: 16px;
}

.instagram-login p:nth-of-type(2) {
  color: #00376B;
  font-size: 12px;
  cursor: pointer;
}

.instagram-login {
  display: flex;
  align-items: center; /* horizontal */
  justify-content: space-around; /* vertical */
  flex-direction: column;
  border: 1px solid var(--border);
  padding: 1.3rem 2rem;
  width: 300px;
  height: 365px;
  background-color: var(--container);
}

.instagram-login p {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-login p:first-of-type {
  text-transform: uppercase;
  color: var(--text);
}

.instagram-login p:first-of-type:after {
  content: '';
  flex: 1;
  height: 1px;
  width: 104px;
  background: var(--after-before);
  margin-left: 16px;
}

.instagram-login p:first-of-type:before {
  content: '';
  flex: 1;
  height: 1px;
  width: 104px;
  background: var(--after-before);
  margin-right: 16px;
}

.instagram-cadaster {
  text-align: center;
  border: 1px solid var(--border);
  padding: 20px;
  margin-top: 12px;
  background-color: var(--container);
}

.instagram-cadaster p {
  color: var(--text);
}

.instagram-cadaster p a {
  color: #0095F6;
  font-weight: 500;
  margin-left: 5px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

form input {
  width: 240px;
  border: 1px solid var(--border);
  padding: 10px;
  background-color: var(--input-bg);
}

form input[type=button] {
  margin-top: 5px;
  background-color: #0094f687;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  width: 260px;
}

.instagram-mobile-apps img{
  width: 150px;
  cursor: pointer;
}

.instagram-mobile-apps {
  margin: auto;
}

.instagram-mobile-apps p {
  text-align: center;
  margin: 20px 0 10px 0;
  color: var(--text);
}

.dark-light #light-mode {
  display: none;
}

.dark-light i .active {
  display: block;
}

.dark-light i {
  font-size: 35px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 60px 0 0;
  cursor: pointer;
  color: #0095F6;
}